.btn-volver:hover {
  background: #5c5151 !important;
  border-color: #ffffff;
  color: #ffffff !important;
}

/* Oculta la barra de scroll pero mantiene el funcionamiento */
html, body {
  scrollbar-width: none !important; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari, Edge */
}

/* ── Hover tabs — modo oscuro ── */
.tab:hover:not(.active) {
  background: #5c5151 !important;
  border-color: #ffffff;
  color: #ffffff !important;
 
}

/* ── Hover tabs — modo claro ── */
html.light-mode .tab:hover:not(.active) {
  background: #5c5151 !important;
  border-color: var(--primary) !important;
  color: #ffffff !important;
}
